In [1]:
import numpy as np
import pandas as pd

**Section 3: Selection & Indexing (21-30)**

**21. Select a single column: DataFrame se 'Name' column ko ek Series ke roop mein select
karein.**

In [2]:
data = {
    'Name': ['Amit', 'Priya', 'Raj', 'Sneha', 'Karan', 'Meera'],
    'Age': [23, 25, 21, 22, 24, 26],
    'City': ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Pune', 'Jaipur']
}